

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}

.cal{
	transform-origin: 160px 500px;
	@include pos-scale-rotate(-80, -250, .5, 0);
}



#banner{
	font-size: 20px;
	color: #333;
	width: 160px;
	height: 600px;
}


#hero{
	transition: .4s ease-in-out;
	width: 100%;
	height: 100%;
	@include pos(0, 0);
	clip-path: polygon(0px 230px, 300px 270px, 300px 600px, 0px 600px);  
}

#hero.out{
	
	// clip-path: polygon(300px 0px, 300px 0px, 300px 250px, 300px 250px);  
	clip-path: polygon(0px 600px, 300px 600px, 300px 600px, 0px 600px);  
}

.hero1{
	@include pos-scale(0, 0, .5);
}

.hero2{
	@include pos-scale(0, 0, .5);
}

.hero3{
	@include pos-scale(0, 0, .33333333);
	@include pos-scale(-102, -220, .69);
	
	
}
