

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}

.cal{
	transform-origin: 90px 200px;
	@include pos-scale-rotate(-45, -100, .5, 0);
}



#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}


#hero{
	transition: .3s ease-in-out;
	width: 100%;
	height: 100%;
	@include pos(0, 0);
	clip-path: polygon(150px 0px, 300px 0px, 300px 250px, 125px 250px);  
}

#hero.out{
	
	clip-path: polygon(300px 0px, 300px 0px, 300px 250px, 300px 250px);  
}

.hero1{
	@include pos-scale(0, 0, .5);
}

.hero2{
	@include pos-scale(0, 0, .5);
}

.hero3{
	
	@include pos-scale(-473, 1, 1);
}
